# Ignore everything
/*

#Whitelist
!/Pictures/
/Pictures/*
!/Pictures/Uh
/Pictures/Uh/*
!/Pictures/Uh/IMG_1782.JPG
!/Pictures/Screenshots

!/.ncmpcpp
/.ncmpcpp/*
!/.ncmpcpp/config

!/.config
/.config/*
!/.config/bottom
!/.config/dunst
!/.config/flashfocus
!/.config/gtk-3.0
!/.config/i3
!/.config/kitty
!/.config/mpd
/.config/mpd/*
!/.config/mpd/mpd.conf
!/.config/neofetch
!/.config/polybar
!/.config/ranger
/.config/ranger/plugins
!/.config/rofi
!/.config/compton.conf
